*{
    color: white;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #E5E5E5;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #232b33;
    color: #fff;
}

.menu-icon span {
    font-size: 24px;
    cursor: pointer;
}

.logo h1 {
    margin: 0;
    font-size: 24px;
    text-align: center;
}

.logo span {
    font-size: 14px;
    font-weight: normal;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
}

nav ul li a:hover {
    background-color: #232b33;
}

.login button {
    background-color: #fff;
    color: #000;
    border: none;
    padding: 5px 25px;
    border-radius: 5px;
    cursor: pointer;
}

.login button:hover {
    background-color: #ddd;
}

.intro {
    text-align: center;
    padding: 50px 20px;
}

.intro h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.intro h2 span {
    font-style: italic;
    font-weight: bold;
}

.search-bar {
    display: inline-flex;
    align-items: center;
}

.search-bar input {
    padding: 10px;
    border: none;
    border-radius: 5px 0 0 5px;
    font-size: 16px;
}

.search-bar button {
    padding: 10px;
    border: none;
    border-radius: 0 5px 5px 0;
    background-color: #5A7184;
    color: #fff;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #738A9E;
}
.section-four{
    display: flex;
    height: 500px;
    padding-bottom: 50px;
    background-color: rgb(20, 20, 20);

}
.div3-1{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.div3-1 > div{
    display: flex;
    gap: 0,5rem;
    padding-top: 20px;
}
.div3-2{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form{
    display: flex;
    flex-direction: column;
}

.apresentacao {
    display: flex; /* Faz as divs ficarem lado a lado */
    justify-content: center; /* Centraliza as divs horizontalmente */
    align-items: center; /* Centraliza as divs verticalmente */
    height: 80vh; /* Altura total da viewport */
    background-color: #f0f0f0;
}

.content {
    flex: 1; /* Faz as divs ocuparem a mesma largura */
    text-align: center; /* Centraliza o conteúdo dentro das divs */
    
}

.centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.centered h2 {
    color: #000;
    font-size: 2rem;
    margin-bottom: 10px;
}

.centered img {
    width: 50%;
    height: 55%;
    max-width: 100%; /* Garante que a imagem não ultrapasse a largura da div */
    max-height: 400px; /* Altura máxima para a imagem */
    display: block; /* Remove espaço extra em torno da imagem */
    margin-top: 10px; /* Espaçamento entre o título e a imagem */
}
.sec-text{
    
    flex: 1; /* Faz as divs ocuparem a mesma largura */
    text-align: center; /* Centraliza o conteúdo dentro das divs */
    
}


.text {
    text-align: center;
    /* background-color: #ffffff; */
    padding: 20px;
    padding-right: 25%;
    /* border: 1px solid #ccc; */
    border-radius: 5px;
}
.text p{
    color: #000;
}

.texto{
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.noticias{
    display: flex; /* Faz as divs ficarem lado a lado */
    flex-direction: column;
    justify-content: center; /* Centraliza as divs horizontalmente */
    align-items: center; /* Centraliza as divs verticalmente */
}

.News1 news {
    width: 50%;
    height: 55%;
    max-width: 100%; /* Garante que a imagem não ultrapasse a largura da div */
    max-height: 400px; /* Altura máxima para a imagem */
    display: block; /* Remove espaço extra em torno da imagem */
    margin-top: 10px; /* Espaçamento entre o título e a imagem */
}
